# .mailmap – Git Autor-Mapping
Raphael Bleier <raphaelbl@edu.aau.at> 
Raphael Bleier <hacksarenice@protonmail.com> 
Raphael Bleier <75416341+raphaelbleier@users.noreply.github.com> 
Raphael Bleier <raphaelbleier@users.noreply.github.com>
Jakob Keischnigg <jakobkei@edu.aau.at> 
Jakob Keischnigg <jakobkeischnigg@gmail.com>
Jakob Keischnigg <office@jksolutions.at>
Jakob Keischnigg <54441607+jakobkeischnigg@users.noreply.github.com>
Devis Mele <devisme@edu.aau.at> 
Devis Mele <devismele@users.noreply.github.com>
Devis Mele <devismele79@gmail.com>
Amelie Görtschacher <ameliego@edu.aau.at> 
Amelie Görtschacher <amelie1408@users.noreply.github.com>
Rubens Zambelli <r1zambelli@edu.aau.at> 
Rubens Zambelli <amenity283@users.noreply.github.com>
Rubens Zmabelli <hitter.avocado_0z@icloud.com>

